<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions required for BLE (Bluetooth Low Energy) operations -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- Location permissions (both FINE and COARSE are required for BLE scanning) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
        <!-- Activity declaration for displaying BLE devices -->
        <activity
            android:name=".view.HiBleDeviceListActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

    </application>
</manifest>